/* Reset all page elements to 0 */
/*@import url("reset.css");*/

bodyold {
  height: 100%;
  margin: 0;
  background: #E9DEC7;
  /* Old browsers */
background: -moz-linear-gradient(top, #E9DEC7 0%, #FBF5EC 100%);
  /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E9DEC7), color-stop(100%,#FBF5EC));
  /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #E9DEC7 0%,#FBF5EC 100%);
  /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #E9DEC7 0%,#FBF5EC 100%);
  /* Opera11.10+ */
background: -ms-linear-gradient(top, #E9DEC7 0%,#FBF5EC 100%);
  /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9DEC7', endColorstr='#FBF5EC',GradientType=0 );
  /* IE6-9 */
background: linear-gradient(top, #E9DEC7 0%,#FBF5EC 100%);
  /* W3C */
background-repeat: no-repeat;
  background-color: #fbf5e8;
}

body {
  height: 100%;
  margin: 0;
  background: #E9DEC7;
  /* Old browsers */
background: -moz-linear-gradient(top, #eeeadc 0%, #fff 100%);
  /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeadc), color-stop(100%,#fff));
  /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeadc 0%,#fff 100%);
  /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeadc 0%,#fff 100%);
  /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeadc 0%,#fff 100%);
  /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeadc', endColorstr='#fff',GradientType=0 );
  /* IE6-9 */
background: linear-gradient(top, #eeeadc 0%,#fff 100%);
  /* W3C */
background-repeat: no-repeat;
  background-color: #fff;
}

.basecollege {
  font: 100%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  min-width: 960px;
}

.basecollegeLogin {
  font: 100%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: #E8E1D5;
  min-width: 960px;
  height: 100%;
}

.basecollegeintegrated {
  font: 100%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: #fff;
}

textarea {
  font-size: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
  color: #1f77b4;
  text-decoration: none;
}

a:hover {
  color: #e84e0f;
}

.accessibleLabel {
  margin-left: -100000px;
  /* move label off page */
}

.leftColumn {
  float: left;
  width: 350px;
  /* defining the width of left and right globally */
}

.rightColumn {
  margin-left: 375px;
}

.oneColumn {
}

.clearAllFloats {
  height: 1px;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* header classes */

.headerBar {
  height: 7px;
  background: #1b5ba1;
  border-bottom: 1px solid #4794ee;
  border-top: 1px solid #424242;
  border-top: 0px;
}

.topContainer {
  background: -moz-linear-gradient(top, #f6f5f3 0%, #fff 100%);
  /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f3), color-stop(100%,#fff));
  /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f5f3 0%,#fff 100%);
  /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f5f3 0%,#fff 100%);
  /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f5f3 0%,#fff 100%);
  /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f3', endColorstr='#fff',GradientType=0 );
  /* IE6-9 */
    background: linear-gradient(top, #f6f5f3 0%,#fff 100%);
  /* W3C */
    background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  height: 50px;
  -webkit-box-shadow: 0px 1px 5px #666;
  -moz-box-shadow: -5px 1px 5px #666;
  box-shadow: 0px 1px 5px #666;
  overflow: hidden;
}

.innerTopContainer {
  min-width: 1000px;
  margin: 0 auto;
  clear: both;
}

.institutionalLogo {
  float: left;
  padding: 0 30px 0 40px;
  height: 50px;
  max-width: 22%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: #424242;
  font-size: 100%;
  text-shadow: 1px 1px 1px #ccc;
  border-right: 0px solid #e1dcd2;
  line-height: 50px;
}

.institutionName {
  display: block;
  font-size: 185%;
}

ul.mainNav {
  float: left;
  padding: 5px 0 0 20px;
  line-height: 50px;
}

ul.mainNav li {
  float: left;
  padding: 0 15px 0 0;
  font-size: 100%;
  font-weight: 400;
}

ul.mainNav li a {
  color: #999;
}

ul.mainNav li a:hover {
  color: #e84e0f;
}

ul.mainNav li.selected {
  color: #424242;
  font-weight: 500;
}

ul.mainNav .courses {
  padding-right: 13px;
  background: url(../images/down_arrow.png) right no-repeat;
}

ul.myBar {
  padding: 0 40px 0 0;
  float: right;
  height: 50px;
}

ul.myBar li {
  float: left;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px 0 0;
}

ul.myBar li a {
  text-decoration: none;
  color: #424242;
}

ul.myBar li.person {
  background: url(../images/person.png) no-repeat;
  width: 30px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  padding-right: 0px;
}

ul.myBar li.personStudent {
  background: url(../images/pics/Mary30.png) no-repeat;
  width: 30px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  padding-right: 0px;
}

ul.myBar li.name {
  padding-right: 13px;
  background: url(../images/down_arrow.png) right no-repeat;
  font-size: 90%;
  font-weight: 500;
  height: 30px;
  padding-left: 5px;
}

ul.myBar li.name a {
  display: block;
}

ul.myBar li.online a {
  display: block;
  float: left;
  width: 24px;
  height: 20px;
  text-indent: -9999px;
  padding-top: 9px;
  background: url(../images/icon-online.png) no-repeat center right;
}

ul.myBar li.online span {
  position: relative;
  top: -6px;
  right: 4px;
  background: #f31010;
  padding: 0 3px 0 3px;
  text-align: center;
  color: #fff;
  line-height: 8px;
  font-size: 11px;
  font-weight: 600;
  border: 2px solid #eff4e8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 2px #666;
  -moz-box-shadow: 0 1px 2px #666;
  box-shadow: 0 1px 2px #666;
}

ul.myBar li.googleStuff {
  width: 121px;
  background: url(../images/googleStuff.png) no-repeat;
  font-size: 75%;
  color: #000;
}


/* secondary Nav Bar classes */


.secondNav {
  height: 30px;
  background-color: #0689b7;
  border-top: none;
  border-right: 0px solid #ededed;
  border-bottom: 1px solid #ddd;
  border-left: 0px solid #ededed;
  z-index: -10;
  margin: 0 0px 0px 0px;
}

.secondNav2 {
  height: 35px;
  background-color: #f5efe5;
  border-top: none;
  border-right: 1px solid #ededed;
  border-bottom: 0 solid #333;
  border-left: 1px solid #ededed;
  z-index: -10;
  margin: 0 40px 0px 40px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-box-shadow: 0px 1px 3px #666;
  -webkit-box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px #666;
}

.secondNav ul {
  margin-left: 15px;
  margin-right: 25px;
}

.secondNav li {
  display: block;
  float: left;
  padding: 7px 55px 0 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 80%;
  color: #777;
}

.secondNav li a {
  color: #8c8a81;
}

.secondNav li.selected {
  color: #e84e0f;
  font-weight: 500;
  padding-top: 6px;
}


/* contentContainer classes */
.contentContainer {
  margin: 25px 40px;
  clear: both;
}

.contentContainer .courseListContainer {
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #888;
  -moz-box-shadow: 0px 0px 6px #888;
  box-shadow: 0px 0px 6px #888;
  overflow: auto;
  margin-bottom: 20px;
}

.contentContainer .courseListHeading {
  background-color: #fff;
  padding: 7px 10px 10px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contentContainer .courseListHeading .title {
  font-size: 120%;
  font-weight: normal;
  line-height: 140%;
  color: #424242;
  float: left;
}

.contentContainer .courseListHeading select {
  float: right;
  border: solid 1px #d9d9d9;
  padding: 3px;
  font-size: 75%;
  background-color: #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.contentContainer .courseListMessage {
  font-size: 85%;
  color: #666;
  padding: 10px 10px 15px 10px;
  line-height: 1.4em;
}

.contentContainer .courseList li {
  border-bottom: 1px solid #E8E1D5;
  padding: 10px 10px 10px 10px;
  display: block;
}

.contentContainer .courseList li a {
  text-decoration: none;
  font-weight: 500;
}

.contentContainer .courseList li a:hover {
  color: #e84e0f;
}

.contentContainer .courseList li span.term {
  font-size: 85%;
  color: #666;
  padding-right: 15px;
}

.contentContainer .courseList li span.info {
  font-size: 85%;
  color: #666;
}

.contentContainer .courseList li.last {
  border-bottom: 0px;
}

/* Admin Messages classes */

.contentContainer .announcement {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #888;
  -moz-box-shadow: 0px 0px 6px #888;
  box-shadow: 0px 0px 6px #888;
  border: 0px solid #7f7f7f;
  background-color: #fff;
  line-height: 1.4em;
  padding-top: 5px;
  margin: 0 0 20px 0;
}

.contentContainer .announcement p.noMessages {
  padding: 15px;
  font-size: 88%;
  font-weight: normal;
  color: #424242;
}

.contentContainer .announcement ul li {
  border-bottom: 1px solid #E8E1D5;
  padding: 10px 10px 10px 10px;
}

.contentContainer .announcement h2 {
  font-size: 105%;
  height: 35px;
  font-weight: normal;
  line-height: 140%;
  color: #424242;
}

.contentContainer .announcement li.unread h2 {
  background: url(../images/feedAnnounce.png) no-repeat;
  padding-left: 40px;
  height: 35px;
  font-weight: bold;
  line-height: 140%;
}

.contentContainer .announcement p {
  font-size: 80%;
  font-weight: 400;
  color: #424242;
  line-height: 1.4em;
}

.contentContainer .announcement p a {
  font-weight: 500;
}

.contentContainer .announcement span.timeStamp {
  font-size: 80%;
  color: #666;
  font-style: italic;
}


/* form classes */

div.textBlob {
  display: none;
}

.loginFormContainer {
  position: relative;
  margin-left: 300px;
  margin-top: 100px;
  width: 375px;
}

.formContainer {
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px #888;
  -moz-box-shadow: 0px 0px 6px #888;
  box-shadow: 0px 0px 6px #888;
  padding: 25px 40px 40px 40px;
}

.containerError {
  margin-bottom: 10px;
  border: solid 1px #c00;
  padding: 7px;
  font-size: 80%;
  line-height: 1.4em;
  background-color: #FFFEEE;
  color: #424242;
}

.formTitle {
  margin-bottom: 10px;
  font-size: 130%;
  font-weight: 500;
  color: #424242;
}

.inputlabels {
  font-size: 90%;
  margin-top: 10px;
  display: block;
}

.textInput {
  border: solid 1px #E8E1D5;
  padding: 5px;
  font-size: 80%;
  width: 225px;
}

.textInputSm {
  border: solid 1px #E8E1D5;
  padding: 5px;
  font-size: 80%;
  width: 110px;
}

.selectBox {
  border: solid 1px #d9d9d9;
  padding: 3px;
  background-color: #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 88%;
}

.textArea {
  border: solid 1px #E8E1D5;
  padding: 5px;
  font-size: 80%;
  width: 225px;
}

.errorInput {
  border: solid 1px #c00;
  padding: 5px;
  font-size: 80%;
  width: 225px;
}

.formErrorInline {
  font-size: 80%;
  color: #c00;
}

.formLink {
  font-size: 80%;
  margin-top: 15px;
}

.formButton {
  display: block;
  border: none;
  padding: 7px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 80%;
  cursor: pointer;
  background-color: #1b5ba1;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 2px #777;
  -webkit-box-shadow: 1px 1px 2px #777;
  box-shadow: 1px 1px 2px #777;
}

/* feedContainer classes */


.feedContainer {
  overflow: auto;
  background-color: #FFF;
  margin: 0 5px 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px #888;
  -moz-box-shadow: 0px 0px 6px #888;
  box-shadow: 0px 0px 6px #888;
}

.feedNavigation {
  background-color: #1b5ba1;
  margin-bottom: 10px;
  *margin-bottom: 0px;
  /*IE7*/
}

.feedNavigation ul {
  background: #195aa6;
  float: left;
  width: 100%;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.feedNavigation ul li {
  float: left;
  margin: 10px 5px 0px 15px;
}

.feedNavigation ul li a {
  display: block;
  padding: 1px 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 80%;
  text-decoration: none;
  background: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.feedNavigation ul li a:hover,
.feedNavigation ul li a.activeTab {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #5790d3;
  -webkit-box-shadow: inset 1px 1px 1px #3c75b7;
  -moz-box-shadow: inset 1px 1px 1px #3c75b7;
  box-shadow: inset 1px 1px 1px #3c75b7;
}

.feedNavigation ul li a.activeTab span.Arrow {
  padding-right: 13px;
  background: url(../images/down_arrow_light.png) right no-repeat;
}

.feedFiltering {
  float: left;
  margin-top: 0px;
  padding: 0 10px 10px 10px;
  font-size: 88%;
  background-color: #e1ddcd;
  width: 100%;
}

.feedFiltering select {
  border: solid 1px #d9d9d9;
  padding: 3px;
  background-color: #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 88%;
}

.feedFiltering input {
  border: solid 1px #d9d9d9;
  padding: 4px;
  background-color: #fff;
  margin-right: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 88%;
}

.listFeeds ul li {
  display: block;
  border-bottom: 1px solid #E8E1D5;
  padding: 9px 10px 9px 10px;
}

h2.listFeedHeading {
  font-size: 120%;
  font-weight: normal;
  line-height: 140%;
  background-color: #fff;
  padding: 5px 0 0 12px;
}

.feedItemContainer {
  float: left;
  min-width: 480px;
  width: 100%;
  margin: .2em;
}

.listFeeds h3 {
  font-size: 88%;
  font-weight: 400;
  line-height: 1.2em;
  display: block;
}

.listFeeds h3.bolderTitle {
  font-weight: 500;
}

.listFeeds h3 a {
  font-weight: 500;
}

.listFeeds h3.dueSoon {
  color: #e84e0f;
  font-weight: 500;
}

.listFeeds span.date {
  color: #666;
  font-weight: 400;
  margin-left: 10px;
}

.feedItemDetails {
  margin-top: 2px;
  display: block;
  font-size: 80%;
  line-height: 1.2em;
  color: #424242;
}

.feedItemDetailsDue {
  display: block;
  font-size: 80%;
  line-height: 1.4em;
  color: #424242;
  font-weight: 500;
}

.feedItemDetails a {
  font-weight: 600;
}

.feedShowMore {
  padding: 5px 25px 5px 0;
  text-align: center;
}

.feedShowMore a {
  padding: 2px 10px;
  margin: 0 0 0 15px;
  color: #333;
  font-size: 75%;
  background: #f0f0f0;
  border: 1px solid #E8E1D5;
  -moz-border-radius: 5px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 1px #eee;
  -moz-box-shadow: inset 1px 1px 1px #eee;
  box-shadow: inset 1px 1px 1px #eee;
}

.feedShowMore a:hover {
  background: #dbdbdb;
}

.photoContainer {
  float: left;
  margin: 6px 10px 15px 5px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  height: 40px;
}

.photoContainerOnline {
  float: left;
  margin: 6px 10px 15px 5px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  height: 40px;
  border-bottom: 4px solid #33c474;
}

.photoContainer50 {
  float: left;
  margin-right: 10px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  height: 50px;
}

.photoContainer50Online {
  float: left;
  margin-right: 10px;
  -moz-box-shadow: 0px 1px 2px #7f7f7f;
  -webkit-box-shadow: 0 1px 2px #7f7f7f;
  box-shadow: 0 1px 2px #7f7f7f;
  height: 50px;
  border-bottom: 4px solid #33c474;
}

.photo {
  background: url(../images/photo.png) no-repeat 5px 5px;
  padding: 0px 0px 0px 58px;
}

.announceIconContainer {
  float: left;
  margin: 6px 6px 15px 5px;
  background: url(../images/feedAnnounce.png) no-repeat;
  padding-left: 40px;
  height: 40px;
}

.remarkIconContainer {
  float: left;
  margin: 6px 6px 15px 5px;
  background: url(../images/remark.png) no-repeat;
  padding-left: 40px;
  height: 40px;
}

.assignmentIconContainer {
  float: left;
  margin: 6px 6px 15px 5px;
  background: url(../images/feedAssignmentIcon.png) no-repeat;
  padding-left: 40px;
  height: 40px;
}

.clockIconContainer {
  float: left;
  margin: 6px 6px 15px 5px;
  background: url(../images/feedClockIcon.png) no-repeat;
  padding-left: 40px;
  height: 40px;
}

.discussionIconContainer {
  float: left;
  margin: 6px 6px 20px 5px;
  background: url(../images/feedDiscussionIcon.png) no-repeat;
  padding-left: 40px;
  height: 40px;
}

.announceIcon {
  background: url(../images/feedAnnounce.png) no-repeat 7px 5px;
  padding: 0px 0px 0px 58px;
}

.assignmentIcon {
  background: url(../images/feedAssignmentIcon.png) no-repeat 7px 5px;
  padding: 0px 0px 0px 58px;
}

.clockIcon {
  background: url(../images/feedClockIcon.png) no-repeat 10px 10px;
  padding: 10px 10px 10px 58px;
}

.discussionLink {
  background: url(../images/feedDiscussLinkIcon.png) no-repeat 5px 2px;
  padding: 0 0 0 28px;
}

.feedCourseName {
  font-size: 75%;
  color: #999;
}

.dateTime {
  padding-left: 15px;
}

.grade {
  font-weight: 600;
}

.listFeedsPeople ul {
  padding: 18px 0 0 18px;
  border-bottom: 1px solid #E8E1D5;
  display: block;
  overflow: auto;
}

.listFeedsPeople ul li {
  display: inline;
  margin: 0 10px 10px 0;
  font-size: 80%;
  float: left;
  line-height: 1.2em;
}

.listFeedsPeople ul li a {
  text-decoration: none;
}

.peopleViewOptions {
  padding: 5px 0 0 18px;
  *margin-top: 10px;
  /*IE7*/
}

.peopleViewOptions a:hover {
  text-decoration: underline;
}

.peoplePicture {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #E8E1D5;
  padding: 6px 6px 2px 6px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.chatIcon {
  display: block;
  background: url(../images/peopleIconChat.png) no-repeat;
  padding-left: 25px;
  float: left;
  height: 20px;
}

.skypeIcon {
  display: block;
  background: url(../images/peopleIconOnline.png) no-repeat;
  padding-left: 25px;
  float: left;
  height: 20px;
}

.connection {
  display: block;
  color: #666;
  font-size: 88%;
}

.onlineStatus {
  display: block;
  color: #666;
  font-size: 88%;
  height: 18px;
  padding-top: 2px;
}

/* contentPopOut */

.contentPopOut {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.closebuttonWithX {
  background: #bbb;
  color: #FFFFFF;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
  font-size: 90%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.closePopOut {
  float: right;
  margin-bottom: 5px;
  color: #333;
  font-size: 75%;
}

.closePopOut a {
  padding: 2px 10px;
  margin: 0 0 0 15px;
  background: #e5e5e5;
  color: #333;
  border: 1px solid #E8E1D5;
  -moz-border-radius: 5px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 1px #eee;
  -moz-box-shadow: inset 1px 1px 1px #eee;
  box-shadow: inset 1px 1px 1px #eee;
}

.closePopOut a:hover {
  background: #dbdbdb;
}

.contentPopOut_Announce {
  display: block;
  width: 650px;
  padding: 10px;
  background: #fff;
  color: #000;
  margin: 0 auto;
  text-align: left;
  cursor: auto;
  position: relative;
  top: 100px;
  border: 5px solid #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #888;
  -moz-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
}

.announceInnerContent {
  display: block;
  height: 375px;
  overflow-y: auto;
  padding: 10px;
}

.profileHeading {
  padding: 0 15px 15px 15px;
  margin: 10px 0 15px 0;
}

.profileButton {
  padding: 10px 0 5px 0;
}

.profileButton a {
  padding: 2px 10px;
  margin: 0 0 0 15px;
  color: #333;
  font-size: 75%;
  background: #f0f0f0;
  border: 1px solid #E8E1D5;
  -moz-border-radius: 5px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 1px #eee;
  -moz-box-shadow: inset 1px 1px 1px #eee;
  box-shadow: inset 1px 1px 1px #eee;
}

.profileButton a:hover {
  background: #dbdbdb;
}

.backButton {
  padding: 0 0 5px 5px;
  position: relative;
  top: -5px;
}

.backButton a {
  padding: 4px 10px 4px 10px;
  margin: 0 0 0 0;
  color: #333;
  font-size: 70%;
  background: #f0f0f0;
  border: 1px solid #ddd7cc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 1px #eee;
  -moz-box-shadow: inset 1px 1px 1px #eee;
  box-shadow: inset 1px 1px 1px #eee;
}

.backButton a:hover {
  background: #dbdbdb;
}

.profilePeoplePicture {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #E8E1D5;
  padding: 6px 6px 2px 6px;
  background-color: #f0f0f0;
  overflow: auto;
  float: left;
  margin-right: 10px;
}

.profileHeading h2 {
  display: block;
  font-size: 120%;
  font-weight: normal;
  line-height: 140%;
}

.profileHeading .connection {
  display: block;
  margin-bottom: 5px;
}

.profileContainer {
  margin-bottom: 15px;
}

.profileInnerNav {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  *margin-bottom: 0px;
  /*IE7*/
}

.profileInnerNav ul {
  background: #f0f0f0;
  float: left;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.profileInnerNav ul li {
  float: left;
  margin: 5px 5px 0px 10px;
}

.profileInnerNav ul li a {
  display: block;
  padding: 5px 10px 5px 10px;
  border: 1px solid #f0f0f0;
  border-bottom: 0px;
  font-size: 80%;
  text-decoration: none;
  background: none;
  color: #424242;
  font-weight: 500;
  position: relative;
  top: 1px;
}

.profileInnerNav ul li a:hover,
.profileInnerNav ul li a.activeTab {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border: 1px solid #d9d9d9;
  border-bottom: 0px;
  padding: 5px 10px 5px 10px;
  background: #fff;
}

.profileAboutMe {
  padding: 0 10px 10px 10px;
  font-size: 88%;
  line-height: 1.4em;
  color: #424242;
}

.profileAboutMe .section {
  padding: 0px 5px 15px 10px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 5px;
}

.profileAboutMe .sectionBtm {
  padding: 0px 5px 15px 10px;
  margin-bottom: 5px;
}

.profileAboutMe h2 {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 120%;
  margin-left: -8px;
}

.profileAboutMe h3 {
  font-size: 88%;
  color: #999;
  font-weight: 400;
}

.profileAboutMe p {
  margin-bottom: 8px;
}

.profileEditContainer {
  margin-bottom: 0px;
}

.profileEditContainer .section {
  padding: 0px 5px 10px 25px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 8px;
  overflow: auto;
}

.profileEditContainer .sectionBtm {
  padding: 0px 5px 5px 25px;
  margin-bottom: 5px;
  overflow: auto;
}

.profileEditContainer textarea {
  font-size: 88%;
  border: 1px solid #d9d9d9;
}

.profileEditContainer input:text {
  font-size: 88%;
  border: 1px solid #d9d9d9;
}

.inputLabelField {
  margin-bottom: 10px;
}

.inputLabelField span.fieldinfo {
  display: block;
  padding: 5px;
  padding-top: 3px;
  color: #666;
  font-size: 88%;
}

.inputLabelField label {
  color: #666;
}

.profileEditContainer .sectionLeft {
  float: left;
  margin-right: 40px;
}

.profileEditContainer h2 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 120%;
  margin-left: -20px;
}

.submitBttn {
  display: block;
  border: none;
  padding: 7px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 80%;
  cursor: pointer;
  background-color: #d7e8f7;
  color: #424242;
  border: 1px solid #b1c9df;
  border-top: #ccdbe8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 2px #777;
  -webkit-box-shadow: 1px 1px 2px #777;
  box-shadow: 1px 1px 2px #777;
}



/* general classes - post buttons */

button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display: inline-block */
    *display: inline;
  cursor: pointer;
  text-align: center;
  font-size: .75em;
  padding: .25em .75em .25em .75em;
  text-shadow: none;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .25em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  width: auto;
  overflow: visible;
  text-decoration: none;
  border-style: solid;
  border-color: #195ca0;
  border-width: 1px;
  background: #c2d4e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2d4e6), to(#ffffff));
  background: -moz-linear-gradient(top,  #c2d4e6,  #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2d4e6', endColorstr='#ffffff');
}

button.dark {
  border-width: 1px;
  background: #195ca0;
  background: -webkit-gradient(linear, left top, left bottom, from(#195ca0), to(#97b7d6));
  background: -moz-linear-gradient(top,  #195ca0,  #97b7d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#195ca0', endColorstr='#97b7d6');
  color: #FFFFFF;
  margin-bottom: 4em;
}

.savePost li {
  float: left;
  padding-right: 5px;
}

.savePost li a.cancel {
  display: block;
  font-size: 80%;
  padding-top: 4px;
  padding-left: 5px;
}

.tabNavigation {
  background-color: #1b5ba1;
  margin-bottom: 10px;
  *margin-bottom: 0px;
  /*IE7*/
}

.tabNavigation ul {
  background: #195aa6;
  float: left;
  width: 100%;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.tabNavigation ul li {
  float: left;
  margin: 10px 5px 10px 15px;
}

.tabNavigation ul li a {
  display: block;
  padding: 1px 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 80%;
  text-decoration: none;
  background: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.tabNavigation ul li a:hover,
.tabNavigation ul li a.activeTab {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #5790d3;
  -webkit-box-shadow: inset 1px 1px 1px #3c75b7;
  -moz-box-shadow: inset 1px 1px 1px #3c75b7;
  box-shadow: inset 1px 1px 1px #3c75b7;
}

.feedItemContainerEmpty {
  color: #666;
  width: 100%;
  text-align: center;
}

.barSubmit {
  background-color: #ddd7cc;
}

.barSubmit ul {
  background: #ddd7cc;
  float: left;
  width: 100%;
}

.barSubmit ul li {
  float: left;
  padding: 10px;
  padding-top: 0px;
}

.barSubmit ul li input:button {
  margin: 0;
  padding: 0;
}

.smallGrayType {
  color: #666666;
  font-size: .75em;
}

.grayType {
  color: #666666;
}

.clear {
  clear: both;
}

/*New July 13 */

.connectPostContainer {
  -webkit-box-shadow: 0px 0px 3px #ccc;
  -moz-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #ddd7cb;
  background-color: #e1ddcd;
  overflow: hidden;
  margin-bottom: 20px;
}

.connectPostContainer .blogPostLinks {
}

.connectPostContainer .blogTypeSelection {
  display: block;
  font-size: 80%;
}

.connectPostContainer .blogTypeSelection ul li a {
  padding: .55em;
  font-size: 88%;
}

.blogAuthorPost {
  float: left;
}

.blogAuthorPost img {
  float: left;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
}

/* NEW July 27 */

ul.myBar li.share {
  padding-right: 15px;
  font-size: 90%;
  font-weight: 500;
  margin-right: 8px;
  height: 30px;
  display: block;
  background-color: #908b79;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

ul.myBar li.share a {
  background: url(../images/down_arrow_light.png) right no-repeat;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  display: block;
  padding: 0 2px 0 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #efebde;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

ul.myBar li.name2 {
  padding-right: 15px;
  font-size: 90%;
  font-weight: 500;
  height: 30px;
  padding-left: 4px;
  display: block;
  background-color: #908b79;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

ul.myBar li.name2 a {
  background: url(../images/down_arrow_light.png) center right no-repeat;
  float: left;
  width: 100%;
  display: block;
  padding: 0 4px 0 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #efebde;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

ul.myBar li.name2 a span {
  display: inline-block;
  padding-left: 5px;
}
